.App {
    text-align: center;
    /*background-color: #dbebf2;*/
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(203, 229, 240, 1) 100%);
}

.App-logo {
    height: 80px;
    margin-top: 5%;
}

.App-title {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    margin-top: 20px;
}

p {
    font-size: 1.2em;
}

.GET-STARTED-button {
    font-size: 1.5em;
    background-color: #1b7ce2;
    color: #f0f4f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.container {
    overflow: hidden;
}

img {
    margin-top: -10px;
    border-radius: 3%;
}